body{
    margin:0; padding:0;
    font-family: 'latoregular';
	font-size:14px;
    overflow-x: hidden;
    background: #4BC587;
    overflow: hidden;
}
/* General */
    *{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
    h1,h2,h3,h4,h5{ display: block; margin: 0; padding: 0; border: 0; font-size: inherit; font-weight: inherit; }
    input[type=text], input:not([type]), input[type='button'], input[type='submit'], select, textarea{ outline:0px !important; overflow: auto; -webkit-appearance:none; box-shadow: none;  border-radius: 0px; }
    strong{ font-weight: bold; }
    a, a:link, a:visited, a:hover, a:active{ text-decoration: none; cursor: pointer; color: inherit; outline: none; }
    img{ border: 0; }
    table, td{ border: 0px; margin: 0px; padding: 0px; border-collapse: collapse; }
    table{width: 100%;}
    ul{ margin: 0px; padding: 0px;}
    li{ margin-left:20px; padding-left: 5px; }
    p{ padding: 0px; margin: 15px 0px; }
    .center_align_1{ position: relative; display: table; width: 100%; height: 100%; text-align: center; }
    .center_align_2{ position: relative; display: table-cell; vertical-align: middle;  }
    .button{ cursor: pointer; }
    .undeline{ text-decoration: underline !important;}
/* Template */
    ::-webkit-input-placeholder { color: rgba(255,255,255,0.5); }
    :-moz-placeholder { color: rgba(255,255,255,0.5); }
    ::-moz-placeholder { color: rgba(255,255,255,0.5); }
    :-ms-input-placeholder {  color: rgba(255,255,255,0.5); }
    
    .wrapper{
        position: fixed;
        overflow: hidden;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
    }
    .middle_box{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 50%;
        background: rgba(0,0,0,0.04);
    }
    .light{
        position: absolute;
        bottom: 0px !important; 
        left: 50% !important;
        margin-left: -784px !important;
        width: 1569px !important;
    }
    .loader{
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -110px;
        margin-top: -35px;
        z-index: 110;
        display: none;
        opacity: 0;
    }
        .loader1{
            position: relative;
            width: 220px;
            height: 70px;
            background-image: url("../administrator/media/page/template/loader_spritesheet8x7.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
        }
        .loader2{
            position: absolute;
            width: 70px;
            height: 70px;
            background-image: url("../administrator/media/page/template/loader2_spritesheet6x5.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
            top: 7px;
            left: 60px;
        }
/* Responsive */
    .r780{
        height: auto !important;
        overflow: auto !important;                                
    }
    .r780 .wrapper{
        position: relative !important;
        display: block !important;
        overflow: hidden !important;
        height: auto !important;
        bottom: auto !important;
    }
    .r780 .scene{
        position: relative !important;
        display: block !important;
        overflow: hidden !important;
        top: 0px !important;
    }
    .r780 .footer{
        position: relative !important;
        height: auto !important;
        top: 0px !important;
    }
    .mobile_image{ display: none; }
    .r650 .mobile_image{ display: block; }
    .r650 .desktop_image{ display: none; }