.main{
	 position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	opacity: 1;
	-webkit-perspective: 1200px;
	-webkit-transform-style: preserve-3d;
}
.menu_wrapper {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}
.menu{
	position: absolute;
	top: 22px;
	left:1100px;
	right: 22px;
	height: 78px;
	opacity: 0;
}

.state2 .content {
	background: #3D3B59;
}
.state2 .transDiv {
	background: #48BD82;
}
.state2 .leftContent {
	border-color: #3D3B59;
}

.state3 .content {
	background: #ED7F6A;
}
.state3 .transDiv {
	background: #48BD82;
}
.state3 .leftContent {
	border-color: #ED7F6A;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 217px;
  background: rgba(83,212, 145, 0.7);
  background: #53D491;
  letter-spacing: 2px;
}

.logo {
	display: block;
	width: 123px;
	height: 31px;
	position: absolute;
	top:25px;
	left: 20px;
	background: url(../img/logo.png) no-repeat;
}
.nav{
	height: 100%;
	position: absolute;
	top:0;
	right: 80px;
}
.nav-ul{
	height: 100%;
	opacity: 0;
}

.nav-ul li {
	float: left;
	height: 100%;
	line-height: 100%;
	padding: 0 20px;
	color: #f2f2f2;
	text-transform: uppercase;
	cursor: pointer;
}

.nav-ul li span{
	display: block;
	padding-top:33px;
}

.nav_menu {
	width: 55px;
	height: 55px;
	position: absolute;
	left: 0px;
	top:0px;
	background: url(../img/btn_menu.png) no-repeat center center;
	cursor: pointer;
	display: none;
}

.language {
	position: absolute;
	right: 38px;
	top:16px;
	text-align: center;

}
.select{
	width: 47px;
	height: 47px;
	position: relative;
	background: rgba(0,0,0,0.12);
	line-height: 47px;
}
.dropdown {
	position: absolute;
	left:0;
	top:100%;
	right: 0;
	display: none;

}
.dropdown a{
	position: relative;
	display: block;
	text-align: center;
	padding: 18px 0px;
	background: #FFF;
	color: #32494E;
	color: #32494E;
}
.dropdown a:hover{
	background: #f4f4f4;
}
/* 浏览器宽度小于950 左侧导航 start */
.left_nav {
	width: 300px;
	position: fixed;
	left: -300px;
	top:0;
	bottom: 0;
	background: #4BC587;
	z-index: 10;
	text-align: center;
	-webkit-transition:all 0.5s ease-out;
}
.l_close {
	width: 100%;
	height: 50px;
	background: url(../img/icon_close.png) no-repeat center center;
}

.l_logo {
	margin-top: 10px;
}
.l_link {
	padding: 17px;
	color: #f2f2f2;
	display:block;
	margin:0 40px;
	text-transform: uppercase;
	font-size: 14px;
}

.btn1 {
	padding: 25px 0;
	background: #32494E;
	margin:40px;
}

/* 浏览器宽度小于950 左侧导航 end */

/* 浏览器宽度小于 950 设置的样式  start */

.r950 .menu{
	left: 0px !important;
	right: 0px;
	top:0px;
	height: 55px;
}

.r950 .content {
	right: 0px;
}

.r950 .logo {
	top:12px;
	left: 50%;
	margin-left: -61px;
}
.r950 .leftContent {
	display: none;
}

.r950 .nav{
	display: none;
}

.r950 .nav_menu{
	display: block;
}

.r950 .left_nav{
	display: block;
}

.r950 .nav-ul{
	opacity: 1;
}

.r950 .language{
	top:0;
	right: 0;
}

.r950 .select{
	height: 55px;
}

.slidIcon {
	width: 55px;
	height: 55px;
	position: absolute;
	left: 0;
	top:0;
	background: url(../img/btn_menu.png) no-repeat center center;
	cursor: pointer;
}



/* 浏览器宽度小于 950 设置的样式  end */





/* 右边翻转的方块 */

.leftContent {
	width: 240px;
	border: 7px solid #53D491; 
	position: absolute;
	top:0;
	bottom: 0;
	right: 0px;
	color: #fff;
	
}
.setPerspective {
	-webkit-perspective:1200px; /*设置景深*/
}
.transDiv {
	width: 100%;
	height: 100%;
	background: #32494E;
	-webkit-transition:all .2s ease-out;
	-webkit-transform-style:preserve-3d;
	transform-origin:center center -30px;
	line-height: 64px;
	text-align: center;
}

.transDiv:hover{
	-webkit-transform: rotateX(90deg);
}

.front {
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(0deg);
}
.back{
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	transform-origin: top;
	-webkit-transform: rotateX(-90deg);
	/* -webkit-transform: rotateX(-90deg) translateY(39px) translateZ(-39px); */

}

/* 主体内容 start */

.m_content {
	background: #4BC587;
	padding: 0 20px;
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	overflow: hidden;
}
.firstContent {
	overflow: hidden;
}
.ft_rt {
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.04);
	position: absolute;
	right: 0;
	top:0;
}

.m_ligth {
	width: 1569px;
	height: auto;
	margin-left: -784px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0px;
}
.m_log {
	width: 197px;
	height: 54px;
	position: absolute;
	left: 50%;
	top:120px;
	margin-left: -99px;
	opacity: 0;
}
.m-ft-1 {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
}

.m_l_ligth {
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -520px;
	margin-top: -170px;
	-webkit-transform-origin:right bottom 0px;
	-webkit-transform:rotateX(-90deg);

}

.m_r_ligth {
	position: absolute;
	right: 50%;
	top:50%;
	margin-right: -520px;
	margin-top: -170px;
	-webkit-transform-origin:left bottom 0px;
	-webkit-transform:rotateX(-90deg);
}

.m-ft-middle {
	display: table-cell;
	vertical-align: middle;
}

.m-ft-middle img{/* 
	-webkit-transition-duration:.5s;
	-webkit-transition-timing-function:cubic-bezier(.4,.47,.68,1.89); */
 	-webkit-transform:rotateX(-90deg);
	-webkit-transform-origin:center center 0px;
	-webkit-perspective:600px; 
	opacity: 0;
}

.m-ft-img1 {
	width: 100%;
	max-width: 558px;

}

.m-ft-img2 {
	width: 100%;
	max-width: 878px;
	margin-top: 15px;
}

.m-ft-img3{
	width: 100%;
	max-width: 725px;
	margin-top: 40px;
}

.scroll {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom:-90px;
	text-align: center;
	font-style: italic;
	opacity: 0;
}

/* 第二块内容样式 start */

.step img{
	display: block;
	margin: 0 auto;
}

.twoContent {
	z-index: 10;
	background: #37354F;
	opacity: 1;
}

.twoContent .step .right img,.twoContent .step2_1 img{
	-webkit-transform-origin: center center;
	-webkit-transform:rotateX(-90deg);
}

.twoContent .step .left{
	opacity: 0;
}

.step {
	height: 100%;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom:0;
	top:0;
}

.step_1 {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	
}
.step_center,.left {
	display: table-cell;
	vertical-align: middle;
}
.step_1 .step_1_img3{
	margin-top: 10px;
}

.step_1 .step_1_img4{
	margin-top: 10px;
}

.step_width{
	max-width: 1100px;
	margin:0 auto;
	height: 100%;
}

.step_1 .step_2_img2 {
	margin-top: 15px;
}

.step_1 .step_2_img3 {
	margin-top: 40px;
}

/* 第二块内容样式 end */

/* 第二块 小按钮样式 start */
.points {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	text-align: center;
}
.point {
	display: inline-block;
	width: 100px;
	font-family: Georgia;
	font-size: 14px;
  	font-style: italic;
  	margin:0px;
  	color: #fff;
}
.point_icon{
	width: 20px;
	height: 22px;
	background-image: url("../img/point.png");
  	background-position: left top;
  	cursor: pointer;
  	margin:10px auto 0;
}

.points .text{
	visibility: hidden;
}
.selected .text{
	visibility: visible;
}
.selected .point_icon{
	background-position: right top;
}



/* 第二块 小按钮样式 end */


/* 第三块 样式 start */

.threeContent {
	z-index: 11;
	background: #EB7159;
	opacity: 1;
}

.step_1 .step_3_img2{
	margin-top: 15px;
}

.step_1 .step_3_img3{
	margin-top: 20px;
}

.step_1 .step_3_img5{
	margin-top: 32px;
}

.step_1 .step_3_img6{
	margin-top: 15px;
}

/* 第三块 样式 end */


/* 第四块 样式 start */

.fourContent {
	background: #E7F0EE;
	z-index: 15;
	padding: 0;
}

.fourContent .item{
	width: 30%;
	height: 100%;
	padding: 20px;
	float: left;
	text-align: center;
	border-left: 1px solid #CBD4D2;
	
}
.fourContent .item:first-child {
  border-left: 0px;
}

.fiveContent {
	z-index: 20;
}

.fiveContent .step img,.fiveContent .leftContent{
	-webkit-transform: rotateX(-90deg);
	-webkit-transform-origin: center center 0px;
	opacity: 0;
}

.fiveContent .scope_down{
	position: absolute;
	left: 50%;
	top:-200px;
	margin-left: -71px;
}

.fiveContent .leftContent {
	width: 584px;
	height: 111px;
	border:none;
	position: relative;
	margin:30px auto;
	opacity: 1;
}

.fiveContent .transDiv{
	transform-origin: center center -55px;
	line-height: 111px;
}

.fiveContent .line {
  position: relative;
  margin: 40px auto;
  width: 142px;
  height: 0px;
  border-bottom: 1px solid rgba(52,76,81,0.2);
}

.fiveContent .div3D{
	width: 742px;
	margin:10px auto;
}

.fiveContent .div3D .leftContent {
	
	width: 356px;
	float: left;
	margin-right: 30px;
}

.fiveContent .div3D .transDiv {
	background: #B8E6AF;
}

.fiveContent .fivContent {
	top: 100px;
}

.footer {
	width: 100%;
	height: 300px;
	border:1px solid #000;
	position: absolute;
	background: #2E4348;
	left: 0;
	top:100%;
	z-index: 25;
}

.footerTop {
	padding: 60px 20px;
	background: #344C51;
}

.footerBosttom {
	padding: 20px 40px;
}

/* 第四块 样式 end */

/* .r950 .menu_wrapper{
	top:0;
}
 */
