.main{
	opacity: 0;
	-webkit-perspective: 1200px;
	-webkit-transform-style: preserve-3d;
}
.menu_wrapper {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}
.menu{
	position: absolute;
	top: 22px;
	left:1100px;
	right: 22px;
	height: 78px;
	opacity: 0;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 217px;
  background: rgba(83,212, 145, 0.7);
  background: #53D491;
  letter-spacing: 2px;
}

.logo {
	display: block;
	width: 123px;
	height: 31px;
	position: absolute;
	top:25px;
	left: 20px;
	background: url(../img/logo.png) no-repeat;
}
.nav{
	height: 100%;
	position: absolute;
	top:0;
	right: 80px;
}
.nav-ul{
	height: 100%;
	opacity: 0;
	-webkit-transition:all 0.5s ease-out;
}

.nav-ul li {
	float: left;
	height: 100%;
	line-height: 100%;
	padding: 0 20px;
	color: #f2f2f2;
	text-transform: uppercase;
	cursor: pointer;
}

.nav-ul li span{
	display: block;
	padding-top:33px;
}

.nav_menu {
	width: 55px;
	height: 55px;
	position: absolute;
	left: 0px;
	top:0px;
	background: url(../img/btn_menu.png) no-repeat center center;
	cursor: pointer;
	display: none;
}

/* 浏览器宽度小于950 左侧导航 start */
.left_nav {
	width: 300px;
	position: fixed;
	left: -300px;
	top:0;
	bottom: 0;
	background: #4BC587;
	z-index: 10;
	text-align: center;
	-webkit-transition:all 0.5s ease-out;
}
.l_close {
	width: 100%;
	height: 50px;
	background: url(../img/icon_close.png) no-repeat center center;
}

.l_logo {
	margin-top: 10px;
}
.l_link {
	padding: 17px;
	color: #f2f2f2;
	display:block;
	margin:0 40px;
	text-transform: uppercase;
	font-size: 14px;
}

.btn1 {
	padding: 25px 0;
	background: #32494E;
	margin:40px;
}

/* 浏览器宽度小于950 左侧导航 end */

/* 浏览器宽度小于 950 设置的样式  start */

.r950 .menu{
	left: 0px !important;
	right: 0px;
	top:0px;
	height: 55px;
}

.r950 .content {
	right: 0px;
}

.r950 .logo {
	top:12px;
	left: 50%;
	margin-left: -61px;
}
.r950 .leftContent {
	display: none;
}

.r950 .nav{
	display: none;
}

.r950 .nav_menu{
	display: block;
}

.r950 .left_nav{
	display: block;
}

.l950 .nav-ul{
	opacity: 1;
}



/* 浏览器宽度小于 950 设置的样式  end */





/* 右边翻转的方块 */

.leftContent {
	width: 240px;
	border: 7px solid #53D491; 
	position: absolute;
	top:0;
	bottom: 0;
	right: 0px;
	color: #fff;
	
}
.setPerspective {
	-webkit-perspective:1200px; /*设置景深*/
}
.transDiv {
	width: 100%;
	height: 100%;
	background: #32494E;
	-webkit-transition:all .2s ease-out;
	-webkit-transform-style:preserve-3d;
	transform-origin:center center -30px;
	line-height: 64px;
	text-align: center;
}

.transDiv:hover{
	-webkit-transform: rotateX(90deg);
}

.front {
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(0deg);
}
.back{
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	transform-origin: top;
	-webkit-transform: rotateX(-90deg);
	/* -webkit-transform: rotateX(-90deg) translateY(39px) translateZ(-39px); */

}

/* 主体内容 start */

.m_content {
	background: #4BC587;
	padding: 0 20px;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
}
.firstContent {
	overflow: hidden;
}
.ft_rt {
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,0.04);
	position: absolute;
	right: 0;
	top:0;
}

.m_ligth {
	width: 1569px;
	margin-left: -784px;
	position: absolute;
	left: 50%;
	bottom: 0px;
}
.m_log {
	width: 197px;
	height: 54px;
	position: absolute;
	left: 50%;
	top:120px;
	margin-left: -99px;
	opacity: 0;
	-webkit-transition:all .4s ease-out;
}
.m-ft-1 {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
}

.m_l_ligth {
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -520px;
	margin-top: -170px;
	-webkit-transition:all .7s ease-out;
	-webkit-transform-origin:right bottom 0px;
	-webkit-transform:rotate(-45deg);

}

.m_r_ligth {
	position: absolute;
	right: 50%;
	top:50%;
	margin-right: -520px;
	margin-top: -170px;
	-webkit-transition:all .7s ease-out;
	-webkit-transform-origin:left bottom 0px;
	-webkit-transform:rotate(90deg);
}

.m-ft-middle {
	display: table-cell;
	vertical-align: middle;
	-webkit-perspective: 1200px;
	-webkit-transform-style: preserve-3d;
}

.m-ft-middle img{
	-webkit-transition-duration:.5s;
	-webkit-transition-timing-function:cubic-bezier(.4,.47,.68,1.89);
	-webkit-transform:rotateX(-90deg);
	opacity: 0;
}

.m-ft-img1 {
	width: 100%;
	max-width: 558px;
	-webkit-transition-delay:.1s;

}

.m-ft-img2 {
	width: 100%;
	max-width: 878px;
	margin-top: 15px;
	-webkit-transition-delay:.19s;
}

.m-ft-img3{
	width: 100%;
	max-width: 725px;
	margin-top: 40px;
	-webkit-transition-delay:.22s;
}

.scroll {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom:-90px;
	text-align: center;
	font-style: italic;
	opacity: 0;
	-webkit-transition:all .5s ease-out;
}

/* 第二块内容样式 start */

.step img{
	display: block;
	margin: 0 auto;
}

.twoContent {
	z-index: 10;
	bottom: 0;
	background: #37354F;
	opacity: 1;
}

.step {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom:0;
	top:0;
}

.step_1 {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	
}
.step_center,.left {
	display: table-cell;
	vertical-align: middle;
}
.step_1 .step_1_img3{
	margin-top: 10px;
}

.step_1 .step_1_img4{
	margin-top: 10px;
}

.step_width{
	max-width: 1100px;
	margin:0 auto;
	height: 100%;
}

.step_1 .step_2_img2 {
	margin-top: 15px;
}

.step_1 .step_2_img3 {
	margin-top: 40px;
}

/* 第二块内容样式 end */

/* 第二块 小按钮样式 start */
.points {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 20px;
	text-align: center;
}
.point {
	display: inline-block;
	width: 100px;
	font-family: Georgia;
	font-size: 14px;
  	font-style: italic;
  	margin:0px;
  	color: #fff;
}
.point_icon{
	width: 20px;
	height: 22px;
	background-image: url("../img/point.png");
  	background-position: left top;
  	cursor: pointer;
  	margin:10px auto 0;
}
.point0 .point_icon{
	background-position: right top;
}

/* 第二块 小按钮样式 end */


/* 第三块 样式 start */

.threeContent {
	z-index: 11;
	bottom: 0;
	background: #EB7159;
	opacity: 1;
}

.step_1 .step_3_img2{
	margin-top: 15px;
}

.step_1 .step_3_img3{
	margin-top: 20px;
}

.step_1 .step_3_img5{
	margin-top: 32px;
}

.step_1 .step_3_img6{
	margin-top: 15px;
}

/* 第三块 样式 end */


/* 第四块 样式 start */

.fourContent {
	background: #E7F0EE;
	z-index: 15;
}

/* 第四块 样式 end */
